html,body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
#contentDiv{
    display: flex;
    flex-wrap: wrap;
}
.dienstenBannerDiv{
    display: flex;
    width: 100%;
    height: 520px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: left;
    align-content: center;
    align-items: center;
    background-color: #F6F6F6;
    /*background-image: url("../src/img/boat-cruising.jpg");*/
}

.dienstenBannerDivContent{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50%;
    margin-left: 90px;
    align-content: flex-start;
    justify-content: flex-start;
    gap: 20px;
    flex-direction: column;
}

.dienstenBannerDivContentTitle{
    display: flex;
    width: 100%;
    height: 20%;
    color: black;
    border-radius: 9px;
    /*justify-content: center;*/
    /*align-items: center;*/
}
.dienstenBannerDivContentIconContainer{
    display: flex;
    height: 30px;
    width: 150px;
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    box-shadow: 0 10px 20px rgb(0 0 0 / 12%);
    flex-wrap: wrap;
}

.dienstenBannerDivContentIconText{
    display: flex;
    width: 80%;
    height: 100%;
    color: white;
    justify-content: flex-start;
    align-items: center;
}
.dienstenBannerDivContentIcon{
    display: flex;
    width: 20%;
    height: 100%;
    color: white;
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
}
.dienstenBannerDivContentAdvice{
    display: flex;
    height: 70%;
    width: 70%;
    /*background-color: white;*/
    border-radius: 5px;
    align-items: center;
    /*box-shadow: 0 10px 20px rgb(0 0 0 / 12%);*/
}
.dienstenDiv{
    display: flex;
    height: 3000px;
    width: 100%;
    background-color: white;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: space-evenly;
}

.dienstDiv{
    display: flex;
    height: 368px;
    width: 1100px;
    /*background-color: #F6F6F6;*/
    background-color: black;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 5px;
    color: #D12628;
    flex-wrap: wrap;
}
.dienstDividerDiv{
    display: flex;
    height: 328px;
    /*width: 1960px;*/
    border-radius: 5px;
    color: white;
    flex-wrap: wrap;
    margin: 20px 30px 20px 30px;
    /*gap: 30px;*/
    /*align-items: flex-end;*/
    justify-content: space-between;
}
.dienstTitle{
    display: flex;
    height: 20%;
    width: 80%;
    color: #D12628;
    align-content: center;
    align-items: center;
}
.dienstMainText{
    display: flex;
    width: 70%;
    justify-content: flex-start;
    align-items: flex-start;

}
.dienstDetailTitle{
    display: flex;
    width: 70%;
    justify-content: flex-start;
    align-items: flex-start;
}
.dienstDetailText{
    display: flex;
    flex-wrap: wrap;
    height: 30%;
    width: 70%;
    color: white;
    /*color: black;*/
    /*align-content: center;*/
    align-items: center;
    justify-content: left;
    text-align: left;
    overflow: auto;
    /*border: 2px solid #D12628;*/

}
/* width */
.dienstDetailText::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.dienstDetailText::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #ffffff;
}

/* Handle */
.dienstDetailText::-webkit-scrollbar-thumb {
    background: #D12628;
}

/* Handle on hover */
.dienstDetailText::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}
.dienstContactButtonContainer{
    display: flex;
    height: 30%;
    width: 25%;
    justify-content: end;
    align-items: flex-end;
}
.dienstContactButton{
    display: flex;
    width: 226px;
    height: 46px;
    border-radius: 9px;
    background-color: #D12628;
    text-decoration: none;
    text-underline: none;
    color: white;
    font-size: 20px;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.dienstContactButton:active{
    background-color: #a91718;

}