html,body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
#contentDiv{
    display: flex;
    flex-wrap: wrap;
}

.homeBannerDiv{
    display: flex;
    width: 100%;
    height: 520px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: left;
    align-content: center;
    align-items: center;
    background-image: url("../src/img/dsc_editted/DSC_0247.jpg");
}

.homeBannerDivContent{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 40%;
    height: 50%;
    margin-left: 90px;

}

.homeBannerDivContentText{
    display: flex;
    width: 100%;
    height: 50%;
    color: white;
}

.homeBannerDivContentButton{
    display: flex;
    width: 226px;
    height: 46px;
    border-radius: 9px;
    background-color: #D12628;
    text-decoration: none;
    text-underline: none;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.homeBannerDivContentButton:active{
    background-color: #a91718;

}

.onzeDienstenDiv{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 275px;
    background-color: #F6F6F6;
    justify-content: center;
    gap: 20px;
}
.onzeDienstenTitleDiv{
    display: flex;
    width: 100%;
    height: 108px;
    color: black;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.onzeDienstenItemDiv{
    display: flex;
    width: 35%;
    height: 50%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}
.onzeDienstenItemLogo{
    display: flex;
    height: 100%;
    width: 20%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}
.onzeDienstenTextDiv{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    width: 70%;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;

}
.onzeDienstenTextTitle{
    display: flex;
    height: 30%;
    width: 100%;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    color: black;
}
.onzeDienstenTextContent{
    display: flex;
    height: 70%;
    width: 100%;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    color: #676767;
}

.toelichtingContainer{
    display: flex;
    height: 498px;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: white;
}

.toelichtingDiv{
    display: flex;
    height: 368px;
    width: 1100px;
    background-color: black;
    border-radius: 5px;
    /*animation-fill-mode: forwards;*/
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.toelichtingItem{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: left;
    align-content: space-between;
    margin: 20px 30px 20px 30px;
}
.toelichtingTitle{
    display: flex;
    width: 60%;
    height: 15%;
    color: white;
}

.toelichtingSubtitle{
    display: flex;
    width: 60%;
    height: 15%;
    color: #D12628;
    animation: fadeInAnimation ease 2s;
}

.toelichtingText{
    display: flex;
    width: 60%;
    height: 55%;
    color: white;
    animation: fadeInAnimation ease 2s;
}
.toelichtingToolbar{
    display: flex;
    width: 55%;
    height: 15%;
    justify-content: space-between;
    align-items: flex-end;
}
.toelichtingSlideIndicator{
    display: flex;
    height: 100%;
    width: 100px;
    justify-content: space-between;
    align-items: flex-end;
}
.toelichtingSlideIndicatorDot{
    display: flex;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background-color: white;
    cursor: pointer;
    animation: fadeInAnimation ease 2s;
}
.toelichtingSlideIndicatorDotActive{
    display: flex;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    cursor: pointer;
    background-color: #D12628;
    animation: fadeInAnimation ease 2s;
}
.toelichtingImageContainer{
    display: flex;
    width: 40%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    animation: fadeInAnimation ease 2s;
}
.toelichtingImage{
    display: flex;
    height: 100%;
    width: 360px;
    background-color: red;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}

.waardenContainer{
    display: flex;
    width: 100%;
    height: 333px;
    flex-wrap: wrap;
    background-color: #F6F6F6;
    justify-content: center;
    align-content: space-between;
    align-items: center;
}
.waardenTitle{
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.waardenItemContainer{
    display: flex;
    height: 50%;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.waardenItem{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 20%;
    height: 100%;
    justify-content: flex-start;
    align-content: flex-start;}
.waardenItemLarge{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 30%;
    height: 100%;
    justify-content: flex-start;
    align-content: flex-start;
    overflow: visible;
}

.waardenItemLogo{
    display: flex;
    height: 100%;
    width: 100px;
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: top;
}

.waardenItemTitle{
    display: flex;
    flex-wrap: wrap;
    /*height: 30%;*/
    width: auto;
}

.waardenItemText{
    display: flex;
    /*height: 60%;*/
    width: 60%;
    color: #676767;

}

.waardenButtonContainer{
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
}

.smallButton{
    display: flex;
    width: 144px;
    height: 40px;
    font-family: Roboto,sans-serif;
    font-size: 20px;

    border-radius: 9px;
    background-color: #D12628;
    text-decoration: none;
    text-underline: none;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.smallButton:active{
    background-color: #a91718;
}
.experienceContainer{
    display: flex;
    height: 885px;
    width: 100%;
    flex-wrap: wrap;

}

.recenteProjectenContainer{
    display: flex;
    width: 100%;
    height: 502px;
    flex-wrap: wrap;

}
.recenteProjectenTitle{
    display: flex;
    color: black;
    width: 100%;
    height: 102px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.recenteProjectenItemsContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 400px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.recentProject{
    display: flex;
    width: 20%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
}

.recentProject:hover{
    width: 30%;
    gap: 10px;
    transition: 0.5s;
    background-size: contain;

}

.reviewsContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 222px;

}

.reviewsTitle{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: black;
}

.reviewItemsContainer{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.reviewItem{
    display: flex;
    width: 20%;
    height: 100%;
    flex-wrap: wrap;
    background-color: #F6F6F6;
    padding: 10px;

}
.reviewTitle{
    display: flex;
    width: 50%;
    height: 30%;
    color: black;
    justify-content: flex-start;
    align-items: center;
}
.reviewStars{
    display: flex;
    width: 50%;
    height: 30%;
    color: black;
    justify-content: flex-start;
    align-items: center;
}
.reviewText{
    display: flex;
    width: 100%;
    height: 70%;
    color: #676767;
    font-size: 20px;
    font-family: "Neue Haas Grotesk Text Pro",sans-serif;
    font-weight: 300;
}
@media screen and (max-width: 1285px) {
    .homeBannerDivContent {
        width: 60%;
        height: 50%;
    }
    .onzeDienstenDiv{
        height: 420px;
    }
    .onzeDienstenItemDiv{
            height: 140px;
            width: 80%;
        align-content: flex-start;

    }
    .onzeDienstenItemLogo{
        height: 50%;
    }

    .toelichtingContainer{
        height: 600px;
    }
    .toelichtingDiv{
        height: 400px;
    }
    .toelichtingTitle{
        height: 25%;
    }
    .toelichtingText{
        height: 45%;
    }
    .waardenContainer{
        height: 660px;
    }
    .waardenItemContainer{
        height: 70%;
        flex-direction: row;
    }
    .waardenItem{
        height: 30%;
        width: 80%;
    }
    .waardenItemLarge{
        height: 30%;
        width: 80%;
    }
    .waardenButtonContainer{
        height: 10%;
    }

    .experienceContainer{
        height: 800px;
    }
    .recenteProjectenContainer{
        height: 430px;
    }
    .recenteProjectenItemsContainer{
        height: 300px;
    }
    .recentProject{
        height: 80%;
    }
    .recentProject:hover{
        height: 100%;
        width: 30%;

    }
    .reviewItem{
        width: 25%;
    }
    .reviewTitle{
        width: 90%;
    }
    .reviewStars{
        width: 10%;
    }
}
@media screen and (max-width: 768px) {
    .homeBannerDiv{
        justify-content: center;
    }
    .homeBannerDivContent {
        width: 80%;
        height: 50%;
        margin-left: 0px;
    }
    .toelichtingTitle{
        font-size: 35px!important;
    }
    .toelichtingSubtitle{
        font-size: 25px!important;
    }
    .toelichtingText{
        font-size: 18px!important;
    }
}
.onderhoudBannerDiv{
    background-image: url("../src/img/boat-repair-home-banner2.jpg");
}

.onzeDienstenReparatie{
    background-image: url("../src/icons/icons8-tools-ios-16-glyph/icons8-tools-90.png");
}
.onzeDienstenOnderhoud{
    background-image: url("../src/icons/icons8-gear-material-sharp/icons8-gear-96.png");
}
.toelichtingImage{
    background-image: url("../src/img/in-action-photo.png");
}
.kwaliteit{
    background-image: url("../src/icons/checkmark.svg");
}
.pService{
    background-image: url("../src/icons/icons8-group-task-material-filled/icons8-group-task-96.png");
}
.vakkundig{
    background-image: url("../src/icons/icons8-task-completed-material-rounded/icons8-task-completed-96.png");
}

.rproject1{
    background-image: url("../src/img/rproject1.png");
}
.rproject2{
    background-image: url("../src/img/rproject2.png");
}
.rproject3{
    background-image: url("../src/img/rproject3.png");
}
.rproject4{
    background-image: url("../src/img/rproject4.png");
}