html,body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
#contentDiv{
    display: flex;
    flex-wrap: wrap;
}
.overonsBannerDiv{
    display: flex;
    width: 100%;
    height: 520px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 40%;
    justify-content: left;
    align-content: center;
    align-items: center;
    background-color: white;

    /*background-color: #F6F6F6;*/
    background-image: url("../src/img/dsc_editted/DSC_0231d.jpg");

}

.overonsBannerDivTwo{
    background-image: url("../src/img/dsc/DSC_0295d.JPG");

    background-position: left;
    justify-content: right;
    /*background-color: white;*/
    background-color: #F6F6F6;

}
.overonsBannerDivThree{
    background-image: url("../src/img/dsc/DSC_0157.JPG");
}
.overonsBannerDivContent{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    height: 60%;
    margin-left: 90px;
    align-content: flex-start;
    justify-content: flex-start;
    gap: 20px;
    flex-direction: column;
}
.overonsBannerDivContentTwo{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    height: 50%;
    margin-right: 90px;
    align-content: flex-start;
    justify-content: flex-start;
    gap: 20px;
    flex-direction: column;
}
.overonsBannerDivContentTitle{
    display: flex;
    width: 100%;
    height: 20%;
    color: black;
    border-radius: 9px;
}
.overonsBannerDivContentTitleThree{
    width: 100%;
    height: 20%;
}
.overonsBannerDivContentIconContainer{
    display: flex;
    height: 30px;
    width: 150px;
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    box-shadow: 0 10px 20px rgb(0 0 0 / 12%);
    flex-wrap: wrap;
}

.overonsBannerDivContentIconText{
    display: flex;
    width: 80%;
    height: 100%;
    color: white;
    justify-content: flex-start;
    align-items: center;
}
.overonsBannerDivContentIcon{
    display: flex;
    width: 20%;
    height: 100%;
    color: white;
    background-image: url("../src/icons/info.svg");
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
}
.overonsBannerDivContentAdvice{
    display: flex;
    height: 60%;
    width: 100%;
    border-radius: 5px;
    align-items: flex-start;
}
@media screen and (max-width: 1270px) {
    .overonsBannerDivContentTitleThree{
        width: 100%;
        height: 30%;
    }
}
@media screen and (max-width: 768px) {

}