html,body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
#contentDiv{
    display: flex;
    flex-wrap: wrap;
}
.overonsBannerDiv{
    display: flex;
    width: 100%;
    height: 520px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 40%;
    justify-content: left;
    align-content: center;
    align-items: center;
    background-color: #F6F6F6;
    background-image: url("../src/img/dsc_editted/DSC_0231d.jpg");

}
.overonsBannerDivRight{
    background-position: left;
    justify-content: right;

}

.overonsBannerDivContent{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
    margin-left: 90px;
    align-content: flex-start;
    justify-content: flex-start;
    gap: 20px;
    flex-direction: column;
}
.overonsBannerDivContentRight{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
    margin-right: 90px;
    align-content: flex-start;
    justify-content: flex-start;
    gap: 20px;
    flex-direction: column;
}
.overonsBannerDivContentTitle{
    display: flex;
    width: 100%;
    height: 20%;
    color: black;
    border-radius: 9px;
}
.overonsBannerDivContentIconContainer{
    display: flex;
    height: 30px;
    width: 150px;
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    box-shadow: 0 10px 20px rgb(0 0 0 / 12%);
    flex-wrap: wrap;
}

.overonsBannerDivContentIconText{
    display: flex;
    width: 80%;
    height: 100%;
    color: white;
    justify-content: flex-start;
    align-items: center;
}
.overonsBannerDivContentIcon{
    display: flex;
    width: 20%;
    height: 100%;
    color: white;
    background-image: url("../src/icons/info.svg");
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
}
.overonsBannerDivContentAdvice{
    display: flex;
    height: 50%;
    width: 100%;
    border-radius: 5px;
    align-items: flex-start;
}
